<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brickyard.tracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/report2_256"
        android:label="@string/app_name"
        android:roundIcon="@drawable/report2_256"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".WelcomeSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Dashboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".AddRecord" android:screenOrientation="sensor" />
        <activity android:name=".Login" android:screenOrientation="portrait" />
        <activity android:name=".UserProfile" android:screenOrientation="portrait" />
        <activity android:name=".ResetPassword" android:screenOrientation="portrait" />
        <activity android:name=".SearchTransaction" android:screenOrientation="portrait" />
        <activity android:name=".TransactionSearchDataList" android:screenOrientation="portrait" />
        <activity android:name=".TransactionList" android:screenOrientation="portrait" />
        <activity android:name=".TransactionDetails" android:screenOrientation="portrait" />
        <activity android:name=".TransactionFilter" android:screenOrientation="portrait" />
        <activity android:name=".setting.Setting" android:screenOrientation="portrait" />
        <activity android:name=".setting.AddCategory" android:screenOrientation="portrait" />
        <activity android:name=".setting.General" android:screenOrientation="portrait" />
        <activity android:name=".setting.DeleteAllRecord" android:screenOrientation="portrait" />
        <activity android:name=".setting.UpdatePassword" android:screenOrientation="portrait" />
        <activity android:name=".setting.RestoreDB" android:screenOrientation="portrait" />
        <activity android:name=".report.Report" android:screenOrientation="portrait" />
        <activity android:name=".report.SearchDatewiseTransaction" android:screenOrientation="portrait" />
        <activity android:name=".report.SearchMonthlyTransaction" android:screenOrientation="portrait" />
        <activity android:name=".report.DatewiseTransactionList" android:screenOrientation="portrait" />
        <activity android:name=".report.MonthlyTransactionList" android:screenOrientation="portrait" />
    </application>

</manifest>